In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from splinter import Browser

### NASA Mars News

In [2]:
# URL of News
news_url="https://mars.nasa.gov/news/"

# Retrieve page 
response = requests.get(news_url)

# Create BeautifulSoup object
news_soup = BeautifulSoup(response.text, 'html.parser')

In [3]:
# Retrieve the latest News
news_title=news_soup.find('div', class_='content_title').find('a').text.strip()
news_title

'NASA Invites Students to Name Mars 2020 Rover'

In [4]:
# Retrieve the latest News Title
news_p=news_soup.find('div', class_='rollover_description_inner').text.strip()
news_p

"Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover."

### JPL Mars Space Images - Featured Image

In [13]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [15]:
img_url="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(img_url)

In [16]:
html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')

In [17]:
# Display full link
feature_image_url=img_soup.find("div",class_="carousel_items").find("article")["style"].replace("background-image: url('/","https://www.jpl.nasa.gov/").\
replace("')","")
print (feature_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18851-1920x1200.jpg;

### Mars Weather

In [18]:
weather_url="https://twitter.com/marswxreport?lang=en"

# Retrieve page
response = requests.get(weather_url)

# Create BeautifulSoup object; parse with 'html.parser'
weather_soup = BeautifulSoup(response.text, 'html.parser')

weathers=weather_soup.findAll("div",class_="js-tweet-text-container")

for weather in weathers:
    result=weather.find('p').text
    if "InSight sol" in result:
        mars_weather=result
        break
    else:
        pass
    
print (mars_weather)

InSight sol 265 (2019-08-25) low -99.4ºC (-146.9ºF) high -26.3ºC (-15.3ºF)
winds from the SSE at 5.3 m/s (12.0 mph) gusting to 16.1 m/s (35.9 mph)
pressure at 7.50 hPapic.twitter.com/9YLawm67zS

### Mars Facts

In [23]:
facts_url="https://space-facts.com/mars/"

tables = pd.read_html(facts_url)

In [24]:
df=tables[1]
df.columns=["Description","value"]
df.set_index('Description', inplace=True)

In [25]:
df

                                              value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [26]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

In [27]:
hem_url="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

# Retrieve page
response = requests.get(hem_url)

# Create BeautifulSoup object
hem_soup = BeautifulSoup(response.text, 'html.parser')

In [28]:
hems=hem_soup.findAll('div',class_="item")

hemisphere_image_urls=[]
dicts={}
for hem in hems:
    dicts['title']=hem.find('h3').text
    dicts["img_url"]="https://astrogeology.usgs.gov"+hem.img['src']
    hemisphere_image_urls.append(dicts)
    
print (hemisphere_image_urls)

[{'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png'}]