### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.DataFrame(pd.read_csv(csv_path))
purchase_df.head()

purchase_df.to_csv("purchase.csv", index=False, header=True)

PermissionError: [Errno 13] Permission denied: 'purchase.csv'

## Player Count

* Display the total number of players

In [ ]:
totalplayers=len(purchase_df["SN"].unique())

player_table = pd.DataFrame({"Total Players":[totalplayers]})
player_table

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
itemnum = len(purchase_df["Item Name"].unique())
totalrev = purchase_df["Price"].sum()
purchasenum = purchase_df["Price"].count()
aveprice = float(totalrev/purchasenum)

summary_table1 = pd.DataFrame({"Number of Unique Items":[itemnum],
                               "Average Price":[aveprice],
                               "Number of Purchases":[purchasenum],
                               "Total Revenue":[totalrev]})

summary_table1["Average Price"] = summary_table1["Average Price"].map("${:.2f}".format)
summary_table1["Total Revenue"] = summary_table1["Total Revenue"].map("${:,}".format)
summary_table1

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
data = pd.read_csv("purchase.csv")
data.sort_values("SN", inplace = True)
purchase_df.sort_values("SN", inplace = True) 
data.to_csv("purchase1.csv", index=False, header=True)  
# dropping ALL duplicte values 
data.drop_duplicates(subset ="SN",keep = 'first', inplace = True) 
data.to_csv("purchase2.csv", index=False, header=True)  

df=pd.DataFrame(data["Gender"].value_counts())
df
total_c=df["Gender"]
summary_table2 = pd.DataFrame({"Total Count": total_c})

summary_table2['Percentage of Players']=summary_table2['Total Count']/len(data["SN"].unique())*100
summary_table2['Percentage of Players']=summary_table2['Percentage of Players'].map("{:.2f}".format)
summary_table2


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
data = pd.read_csv("purchase.csv")
grouped_df = data.groupby(['Gender'])
df=grouped_df.count().head()
total_p=grouped_df["Price"].sum()
purchase_c=grouped_df["Price"].count()

summary_table3 = pd.DataFrame({"Purchase Count": purchase_c,
                                    "Total Purchase Value": total_p})
summary_table3['Average Purchase Price']=summary_table3['Total Purchase Value']/summary_table3['Purchase Count']
summary_table3['Avg Total Purchase per Person']=summary_table3['Total Purchase Value']/summary_table2['Total Count']
summary_table3["Total Purchase Value"] = summary_table3["Total Purchase Value"].map("${:.2f}".format)
summary_table3["Average Purchase Price"] = summary_table3["Average Purchase Price"].map("${:.2f}".format)
summary_table3["Avg Total Purchase per Person"] = summary_table3["Avg Total Purchase per Person"].map("${:.2f}".format)
summary_table3
#grouped_df["Gender"].value_counts()
#summary_table
#values = data['Gender'].value_counts().keys().tolist()
#counts = data['Gender'].value_counts().tolist()

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
data = pd.read_csv("purchase.csv")
data.sort_values("SN", inplace = True)
purchase_df.sort_values("SN", inplace = True) 
#data.to_csv("purchase1.csv", index=False, header=True)  
# dropping ALL duplicte values 
data.drop_duplicates(subset ="SN",keep = 'first', inplace = True) 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
df=pd.DataFrame(data)
df[" "] = pd.cut(df["Age"], bins, labels=group_names)

grouped1_df = df.groupby([' '])
grouped1_df.count()
age_c=grouped1_df["Age"].count()

summary_table4 = pd.DataFrame({"Total Count": age_c})
summary_table4['Percentage of Players']=summary_table4['Total Count']/totalplayers*100
summary_table4['Percentage of Players']=summary_table4['Percentage of Players'].map("{:.2f}".format)
summary_table4

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
data = pd.read_csv("purchase.csv")
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
df=pd.DataFrame(data)
df["Ages"] = pd.cut(df["Age"], bins, labels=group_names)

#df.to_csv("purchase3.csv", index=False, header=True)
grouped2_df = data.groupby(['Ages'])
df=grouped2_df.count().head(10)
total1_p=grouped2_df["Price"].sum()
purchase1_c=grouped2_df["Price"].count()

summary_table5 = pd.DataFrame({"Purchase Count": purchase1_c,
                                    "Total Purchase Value": total1_p})
summary_table5['Average Purchase Price']=summary_table5['Total Purchase Value']/summary_table5['Purchase Count']
summary_table5['Avg Total Purchase per Person']=summary_table5['Total Purchase Value']/summary_table4['Total Count']
summary_table5["Total Purchase Value"] = summary_table5["Total Purchase Value"].map("${:.2f}".format)
summary_table5["Average Purchase Price"] = summary_table5["Average Purchase Price"].map("${:.2f}".format)
summary_table5["Avg Total Purchase per Person"] = summary_table5["Avg Total Purchase per Person"].map("${:.2f}".format)
summary_table5

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
data = pd.read_csv("purchase.csv")
grouped3_df = data.groupby(['SN'])
df=grouped3_df.count().head()

total2_p=grouped3_df["Price"].sum()
purchase2_c=grouped3_df["Price"].count()

summary_table6 = pd.DataFrame({"Purchase Count": purchase2_c,
                                    "Total Purchase Value": total2_p})
summary_table6.sort_values('Total Purchase Value', inplace = True,ascending=False)
summary_table6['Average Purchase Price']=summary_table6['Total Purchase Value']/summary_table6['Purchase Count']
summary_table6["Average Purchase Price"] = summary_table6["Average Purchase Price"].map("${:.2f}".format)
summary_table6["Total Purchase Value"] = summary_table6["Total Purchase Value"].map("${:.2f}".format)
summary_table6.head()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [3]:
data = pd.read_csv("purchase.csv")
grouped4_df = data.groupby(['Item ID'])
df=grouped4_df.count().head()

total3_p=grouped4_df["Price"].sum()
purchase3_c=grouped4_df["Price"].count()
purchase3_c1=grouped4_df["Item Name"]

summary_table7 = pd.DataFrame({"Item Name": purchase3_c1, "Purchase Count": purchase3_c,
                                    "Total Purchase Value": total3_p})
summary_table7.sort_values('Total Purchase Value', inplace = True,ascending=False)
summary_table7['Item Price']=summary_table7['Total Purchase Value']/summary_table7['Purchase Count']
summary_table7["Total Purchase Value"] = summary_table7["Total Purchase Value"].map("${:.2f}".format)
summary_table7["Item Price"] = summary_table7["Item Price"].map("${:.2f}".format)
summary_table7.head()

,Item Name,Purchase Count,Total Purchase Value,Item Price
Item ID,,,,
178,"(178, [Oathbreaker, Last Hope of the Breaking ...",12,$50.76,$4.23
82,"(82, [Nirvana, Nirvana, Nirvana, Nirvana, Nirv...",9,$44.10,$4.90
145,"(145, [Fiery Glass Crusader, Fiery Glass Crusa...",9,$41.22,$4.58
92,"(92, [Final Critic, Final Critic, Final Critic...",8,$39.04,$4.88
103,"(103, [Singed Scalpel, Singed Scalpel, Singed ...",8,$34.80,$4.35

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [4]:
new_index = summary_table7.reset_index(drop=True)
new_index.head()

,Item Name,Purchase Count,Total Purchase Value,Item Price
0,"(178, [Oathbreaker, Last Hope of the Breaking ...",12,$50.76,$4.23
1,"(82, [Nirvana, Nirvana, Nirvana, Nirvana, Nirv...",9,$44.10,$4.90
2,"(145, [Fiery Glass Crusader, Fiery Glass Crusa...",9,$41.22,$4.58
3,"(92, [Final Critic, Final Critic, Final Critic...",8,$39.04,$4.88
4,"(103, [Singed Scalpel, Singed Scalpel, Singed ...",8,$34.80,$4.35